span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer; 
}

.container {
	margin-top: 20px;
}

.btn > span {
    color: white;
    background-color: #ffc107;
    margin: 0;
}
.btn-warning > i {
    color: white;
}
.fa-star {
    margin: 0.5em;
    font-size: 24px;
}

.selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.used {
    background-color: #aaddaa;
    color: #99bb99;
}